{% extends "base.html" %}
{% block title %}
    Austin Ng
{% endblock %}
{% block content %}
  <span class="fs-2">Austin Ng</span><br>
  <span class="ps-2 border-start border-success fs-5">Hello Potato! I'm Austin. Here, you will find (fascinating) facts about me.</span>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/2BMBtLz.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Cubing</h5>
          <p class="card-text">Austin moves his fingers. <br><a href="https://www.worldcubeassociation.org/persons/2023NGAU01" target="_blank">View Austin's WCA Profile</a></p>
          <a href="/cubing" target="_blank" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 1:20AM
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/1481ERD.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Languages</h5>
          <p class="card-text">Austin loves to speak Chinese. <br></p>
          <a href="/languages" target="_blank" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 1:28AM
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/VHHLDjr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Programming</h5>
          <p class="card-text">Austin moves his fingers. Again. <br><a href="https://astnne.github.io/" target="_blank">View Austin's Other Website</a></p>
          <a href="/programming" target="_blank" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 1:33AM
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/0PH3hJm.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blog</h5>
          <p class="card-text">Austin lives life.</p>
          <a href="/blog" target="_blank" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 2:15AM
        </div>
      </div>
    </div>
  </div>
{% endblock %}