{% extends "base.html" %}
{% block title %}
    Austin Ng
{% endblock %}
{% block content %}
  <div class="my-5">
    <span class="fs-2">{{ header["name"] }}</span>
    <br>
    <span class="ps-2 border-start border-success fs-5">{{ header["description"] }}</span>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for item in cards: %}
      <div class="col">
        <div class="card h-100">
          <img src='{{ item["image_url"] }}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item["category"] }}</h5>
            <p class="card-text">{{ item["description"] }}<br><a href='{{ item["profile_link"] }}' target="_blank">{{ item["link_text"] }}</a></p>
            <a href='{{ item["custom_link"] }}' target="_blank" class="btn btn-outline-primary">See more</a>
            <p class="card-text"><small class="text-body-secondary">{{ item["date"] }}</small></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="col w-100">
      <div class="card">
        <h5 class="card-header">Featured - {{ featured["header"] }} <span class="badge bg-secondary">New</span></h5>
        <div class="card-body">
          <p class="card-text">{{ featured["text"] }}</p>
          <a href='{{ featured["custom_url"] }}'' target="_blank" class="btn btn-outline-primary">See more</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}