{% extends "base.html" %}
{% block title %}
    Austin Ng
{% endblock %}
{% block content %}
  <span class="fs-2">Austin Ng</span><br>
  <span class="ps-2 border-start border-success fs-5">Hello Potato! 我叫Austin. Here, you will find fascinating facts about me.</span>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/2BMBtLz.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Cubing</h5>
          <p class="card-text">Austin moves his fingers. <br><a href="https://www.worldcubeassociation.org/persons/2023NGAU01" target="_blank">View Austin's WCA Profile</a></p>
          <a href="#" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 1:20AM
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/ETeJcwd.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Austin speaks Cantonese</h5>
          <p class="card-text">Austin sure loves to speak Cantonese. <br></p>
          <a href="#" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 1:28AM
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.imgur.com/VHHLDjr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Programming</h5>
          <p class="card-text">Austin moves his fingers. Again. <br><a href="https://astnne.github.io/">View Austin's other website</a></p>
          <a href="#" class="btn btn-outline-primary">See more</a>
        </div>
        <div class="card-footer text-body-secondary">
          January 18, 2024 at 1:33AM
        </div>
      </div>
    </div>
  </div>
{% endblock %}